<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Automation Suite" parallel="classes" thread-count="2">

    <test name="Regression">
        <classes>
            <class name="org.infinite.scripts.ReadingFromExcel"/>
            <class name="org.infinite.scripts.Testcase1"/>

        </classes>
    </test>

</suite>